# Dependencies

node_modules/

# Logs

logs
*.log
npm-debug.log*

# Vite & TypeScript

dist/
dist-electron/
.vite/
*.tsbuildinfo

# Electron Packaging Outputs

release/
out/
make/
*.exe
*.dmg
*.AppImage
*.zip

# Editor & OS Files

Thumbs.db              
.vscode/*              
!.vscode/extensions.json 
!.vscode/settings.json   